main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea{
    width: 100%;
    padding: 10px, 20;
    border: none; 
    border-radius: 10px;
    resize: vertical;
    border: 1px solid salmon;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#char-count{
    color: gray;
}

#word-count{
    color: gray;
}

#limit-warning{
}

#clear-btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 1px solid #2e6da4;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}




