.body{
    background-color: rgb(234, 185, 8);
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    border: 5px solid white;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 5px solid black;
}
table, th, td{ 
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table{
    width: 30%;
}
th{
    width: 60%;
    background-color: aliceblue;
}
.the-header{
    background-color: coral;
}
.sec-row{
    height: 80px;
    background-color: violet;
}
.third-row{
    height: 80px;
    background-color: brown;
}
.table-handler{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.poem{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    border: 5px solid #ccc; 
}
#unordered-list{
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    font-size: 25px;
}