*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header{
    background-color: #1c1e21;
    color: white;
    padding: 35px 40px;
}

.header_title{
    font-size: 50px;
}

.todo-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input-container{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#todo-input{
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#add-button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 1px solid #2e6da4;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.list-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Растягиваем */
    padding-left: 0; /* Убираем твои 180px */
    padding-right: 0; /* Убираем твои 180px */
}

#List {

    list-style: none;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.todo-item:last-child {
    border-bottom: none;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.todo-text {
    flex-grow: 1;
    font-size: 20px;
    color: #333;
}

.todo-text.strike {
    text-decoration: line-through;
    color: #777;
}

.btn-delete{
    background: none;
    border: none;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
}


